@import url(`https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Vardla+Round&display=swap`);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
alink,
a:visited {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
header {
  position: absolute;
  color: black;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px;
}
header button {
  background: transparent;
  border: 0;
  cursor: pointer;
}
header h1 button {
  font-size: 2rem;
  font-weight: bold;
}
header nav ul li button {
  font-size: 1.2rem;
}
main {
  width: 100%;
  height: 100vh;
  color: whith;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main h4 {
  font-size: 2rem;
}
main h2 {
  font-size: 3.5rem;
  margin: 2rem 0;
  letter-spacing: 3px;
}
main p {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.25rem;
}
main h2 span::after {
  content: '';
  height: 40px;
  width: 3px;
  background-color: #000000;
  display: inline-block;
  animation: blink 0.7s ease-in-out infinite;
}
main h2 span {
  color: #5100ff;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main h2 {
  letter-spacing: 3px;
  font-family: 'Varela Round', sans-serif;
}
section .title {
  margin-bottom: 3rem;
}
section .title h4 {
  font-size: 1.35rem;
  color: #5100ff;
  position: relative;
}
section .title h2 {
  font-size: 3.5rem;
}
section .title p {
  font-size: 1.15rem;
}
section .about-self::after {
  content: '';
  clear: both;
  display: block;
}
section .about-self .left {
  width: 50%;
  float: left;
}
section .about-self .left img {
  max-width: 100%;
}
section .about-self .right a {
  color: #5100ff;
}
section .about-self .right {
  width: 50%;
  float: left;
  padding: 0 2rem;
}
section .about-self .right h3 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
section .about-self .right h3 strong {
  color: #5100ff;
}
section .about-self .right p {
  font-size: 1.15rem;
  margin: 1rem 0;
}
section .about-self .right .social a {
  font-size: 2.5rem;
  margin-right: 0.2rem;
}
section .about-self .contaier .video {
  justify-content: center;
  align-items: conter;
  margin-top: 20px;
}
section .about-self .container .videp video {
  max-width: 100%;
  height: auto;
}
section.portfolio::after {
  content: '';
  display: block;
  clear: both;
}
/* 사각형 크기와 간격, 내부 여백 설정 */
section .do-me .do-inner {
  background-color: #fff;
  width: 32%; /* 상자의 크기를 살짝 키움 */
  padding: 2rem;
  float: left;
  margin-right: 0; /* 여백을 없앰 */
  margin-bottom: 0; /* 아래 여백을 없앰 */
  cursor: pointer;
}

/* 마지막 사각형의 외부 여백 설정 제거 */
section .do-me .do-inner:last-child {
  margin-right: 0;
}

/* do-inner 클래스에 마우스를 올리면 배경색과 텍스트 색상 변경 */
section .do-me .do-inner:hover {
  background-color: #5100ff;
  color: white;
}

/* What I Do 영역의 콘텐츠 박스의 너비를 32%로 설정하고, 여백을 제거 */
section .do-me .do-inner {
  width: 32%;
  margin-bottom: 0; /* 아래 여백을 제거 */
  margin-right: 0; /* 오른쪽 여백을 제거 */
}

/* 1, 3, 5...번째 본문 사각형에 margin-right 적용 제거 */
section .do-me .do-inner:nth-child(2n + 1) {
  margin-right: 0;
}
